[Unit]
Description=Capstone Car Application
After=multi-user.target
Requires=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/bilbo/capstone/src/scripts/run.py
Restart=on-failure
User=bilbo
Group=bilbo
WorkingDirectory=/home/bilbo/capstone/src/scripts
StandardOutput=null
StandardError=append:/home/bilbo/capstone/logs/error.log

[Install]
WantedBy=multi-user.target
